<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>c. 2000 - 2010</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>draw () {
  //...
}</string>
	</dict>
	<dict>
		<key>type</key>
		<string>borderless</string>
		<key>string</key>
		<string>processing</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>draw () {
  //...
}</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>project0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>project1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>project2</string>
	</dict>
	<dict>
		<key>type</key>
		<string>borderless</string>
		<key>string</key>
		<string>openframeworks</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>project3</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>[.NET, C, C++,...]?</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>project4</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>[ObjC]</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>cc0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>what does it take
to create an api?</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>what can I learn
from my favorite
projects (P/OF)?</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>what were the
constraints
i was encountering?</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>cc0</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>cc1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>cc2</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>project2</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>string</key>
		<string>project5</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>what is an alternative
to drawing?</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>draw () {
  //...
}</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>draw{} &gt; obj</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>ellipse(x,y,w,h);</string>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>string</key>
		<string>[C4Shape ellipse:{x,y,w,h}];</string>
	</dict>
</array>
</plist>
